.container {
  position: relative;
  .media_item_add {
    width: 396px;
    height: 243px;

    img {
      width: 100%;
      height: 100%;
      object-fit: scale-down;
    }
  }

  .add_btn {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
