.layout {
  position: relative;
  margin: 20px;

  .layout_logo {
    position: fixed;
    top: 20px;
    left: 20px;
  }

  .layout_content {
    grid-area: content;
  }

  .layout_logout {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }

  @media print {
    .hide_btn {
      display: none;
    }
    .logout_btn {
      display: none;
    }
  }
}
