.layout {
  position: relative;

  .layout_logo {
    position: fixed;
    top: 10px;
    left: 10px;
  }
  .layout_logout {
    position: fixed;
    bottom: 10px;
    right: 10px;
  }
  @media print {
    .hide_btn {
      display: none;
    }

    .logout_btn {
      display: none;
    }
  }
}
