.layout {
  position: relative;
  margin: 20px;
  display: grid;
  grid-template-areas:
    'logo content'
    'logout content';
  grid-template-columns: 40px 1fr;
  grid-template-rows: 1fr auto;

  .layout_logo {
    grid-area: logo;
    position: fixed;
  }

  .layout_content {
    grid-area: content;
  }

  .layout_logout {
    grid-area: logout;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: right;
  }
  @media print {
    .hide_btn {
      display: none;
    }
    .logout_btn {
      display: none;
    }
  }
}
