.img_print {
  display: none;
  width: 50px;
}

.non_print_state {
  display: flex;
}

.total {
  display: flex;
  justify-content: flex-end;
  margin-right: 12%;
}

@media print {
  .img_print {
    display: block;
  }

  .hide_cell {
    display: none;
  }
}
