.product {
  width: 120px;
  height: 250px;
  display: flex;
  justify-self: flex-start;
  justify-content: center;
  align-items: center;
  position: relative;

  img,
  video {
    border: 1px solid #000;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }

  .delete_btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    z-index: 10;
  }

  .info {
    position: absolute;
    left: 23px;
    bottom: -25px;
  }

  h4 {
    position: absolute;
  }
  &.hidden_product {
    opacity: 0.5;
  }

  &:hover {
    .delete_btn {
      display: block;
    }
  }
}
