.product_details_container {
  position: relative;

  .btn {
    position: absolute;
    top: 0;
    right: 0;
  }
  .current_info {
    text-transform: uppercase;
  }
}

.size_measurement_table {
  border: 1px solid #000;
}

.title {
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
}
