.size_measurement_container {
  display: grid;
  gap: 15px;

  .size_measurement_container_title {
    justify-self: flex-start;
    color: #fff;
    background-color: black;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }

  .size_measurement_list {
    display: grid;
    gap: 10px;
    border: 1px solid black;
    padding-left: 15px;

    li {
      display: grid;
      gap: 10px;
      border: 1px solid black;

      .size_selector {
        display: flex;
        align-items: center;
        gap: 5px;
        padding-left: 10px;

        .size_name {
          font-weight: bold;
          width: 35px;
        }

        .size_input {
          width: 150px;
        }
      }

      .measurement_selector {
        display: flex;
        gap: 5px;
      }
    }
  }
}
